# dependencies
node_modules/

# build outputs
dist/
dist-electron/
build/*
!build/zradalog-icon.ico

electron/dist/
electron/build/

# environment
.env

# editor
.vscode/

# logs
*.log
*.logl
logs/

# generated recordings and media
*.mp4
*.mkv
*.mov
*.avi
*.webm
segments/
output/
ffmpeg-session-*.log

# packaged binaries/installers
*.exe
*.msi
*.nupkg
*.blockmap
*.7z
*.zip

# OS
.DS_Store
Thumbs.db
